# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:10.15.0

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install CodeClimate tools
          command: |
            curl -L -o cc-test-reporter https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64
            chmod +x cc-test-reporter
            ./cc-test-reporter before-build

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm run tslint
      - run: npm test
      - run:
          name: Format Coverage
          command: ./cc-test-reporter format-coverage -t lcov repo/coverage/lcov.info -o codeclimate.json
      - run:
          name: Upload Coverage
          command: ./cc-test-reporter upload-coverage -d -i codeclimate.json -r $CODECLIMATE_REPO_TOKEN

      - run: npm run build
